if result != undefined
  .container
    .row
      .col
        #tblDetailProd
          table#tbl_prod_detail.table.table-bordered(width="100%" style="cellspacing:0")
            thead
              tr
                each headItem in result.heads
                  td #{headItem}
            tbody
              each item in result.asn_prod_det
                tr 
                  each data in item
                    td #{data}
          //- each item in asn_prod_det
          //-   .row #{item.tarima}
          .form-group
            label Piezas Declaradas:&nbsp;
            span #{result.totPieza}
            script.
              var head = !{jsStringify(result.heads)};
              var csv_file_name = !{jsStringify(result.csv_file_name)};