nav(aria-label="breadcrumb")
  ol.breadcrumb
    li.breadcrumb-item
      a#lnk_selected_warehouse(href="#") Almacenes
    li#gates.breadcrumb-item.active(aria-current="page") #{almacen}
    li#gates_selected.d-none.breadcrumb-item(href="#")
      a#lnk_selected_gate(href="#") #{almacen}
    li#gate.d-none.breadcrumb-item.active(aria-current="page") Cortina x
if arrCortinaByAlm != undefined
  .row#gates_by_warehose
    each item in arrCortinaByAlm
      .col-xl-3.col-md-6.mb-4
        .card.shadow.h-100.py-2(class = item["asn_r_id"]> 0 ? 'border-left-danger' : 'border-left-success')
          .card-body
            .row.no-gutters.align-items-center
              .col.mr-2.card-warehouse(id='div_cortina_' + item.id_cortina)
                .text-xs.font-weight-bold.text-uppercase.mb-1 #{item.cortina}
                if item.asn_r_id > 0
                  div.asn_r_id(id='div_asn_' + item.asn_r_id)
                    .h6.mb-0.text-monospace.font-weight-bold.text-gray-800 En operacion 
                    .h6.mb-0.text-monospace.font-weight-bold.text-gray-800 #{item.a_folio}
                    input(type="hidden" value=item.cortina)
                else
                  .h6.mb-0.text-monospace.font-weight-bold.text-gray-800 Disponible 
  .row#gate_by_asn.d-none
    include recepcion_cortina_asn.pug