<div class="card shadow mb-4">
  <div class="card-header py-3">
    <h6 class="m-0 font-weight-bold text-primary">DataTables Example</h6>
  </div>
  <div class="card-body">
    <div class="table-responsive">
      <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
        <thead>
          <tr>
            <th>Folio</th>
            <th>Cliente</th>
            <th>Producto</th>
            <th>Tarimas</th>
            <th>Ubicado(s)</th>
            <th>Pendiente(s)</th>
            <th>% Ubicados</th>
          </tr>
        </thead>
        <tfoot>
          <tr>
            <th>Folio</th>
            <th>Cliente</th>
            <th>Producto</th>
            <th>Tarimas</th>
            <th>Ubicado(s)</th>
            <th>Pendiente(s)</th>
            <th>% Ubicados</th>
          </tr>
        </tfoot>
        <tbody>
          if lstRec != undefined
            each item in lstRec
              <tr>
                <td>
                  a.nav-lingk.folio-ent(href="#") 
                    span #{item.Folio}
                  input(type="hidden" value='key_' + item.Id_entrada)
                </td>
                <td>#{item.Cliente}</td>
                <td>#{item.Producto}</td>
                <td>#{item.Tarimas}</td>
                <td>#{item.Ubicados}</td>
                <td>#{item.Pendientes}</td>
                <td>#{item.Ubicados / item.Tarimas * 100}</td>
              </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>